:root {
  --main-text-color: #999999;
  --secondary-text-color: #ffffff;
  --main-title-color: #ffffff;
  --secondary-title-color: #323232;
  --accent-color: #4985ff;
  --background-color: #f6f6f8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'montserat', sans-serif;
}

.header {
  background-color: grey;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

.menu-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 25;
  color: var(--secondary-text-color);
  padding-top: 40px;
  padding-bottom: 40px;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
}

.menu-item:not(:first-child) {
  margin-left: 40px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

/* HERO */
.hero {
  background-color: grey;
  padding-top: 220px;
  padding-bottom: 335px;
}

.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: var(--main-title-color);
  max-width: 829px;
  margin: auto;
  margin-bottom: 50px;
}

.btn {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--secondary-text-color);
  width: 200px;
  height: 45px;
  background: var(--accent-color);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-button {
  margin: 0 auto;
}

/* mobile */
.mobile{
  padding-top: 110px;
  padding-bottom: 105px;
}

.section-title{
font-weight: 700;
font-size: 36px;
line-height: 1.47;
}

.mobile-title{
  color:var(--secondary-title-color) ;
  text-align: center;
  max-width: 739px;
  margin: 0 auto 50px;
}


.typical-text{
font-size: 16px;
line-height: 1.56;
color: var(--main-text-color);

}


.mobile-text{
  width: 730px;
  margin: 0 auto 70px;
  text-align: center;

}

.mobile-list {
  display: flex;
  margin-left: -27px;
  margin-bottom: 55px;
}

.mobile-item-title {
font-weight: 600;
font-size: 18px;
line-height: 1.22;
color: #000000;
margin-bottom: 12px;

}

.mobile-item-text {
font-size: 14px;
line-height: 22px;
}

.mobile-item {
  flex-basis: calc((100% - 27px * 3) / 3 );
  margin-left: 27px;
}

.mobile-buttom {
  margin:  0 auto;
  border: none;
}